<div class="container-fluid" style="margin-top: 10px">
  <nav
    class="navbar navbar-expand-sm bg-warning navbar-dark"
    style="border-radius: 10px"
  >
    <div class="container-fluid">
      <h3
        style="
          color: rgb(152, 51, 83);
          text-shadow: 5px 5px 5px;
          font-family: cursive;
          font-size: 180%;
        "
        class=""
      >
        Employee Work Force ...
      </h3>
      <h4
        class="btn btn-outline-info border-0"
        style="margin-right: 40px; text-shadow: 2px 2px 2px rgb(230, 31, 134)"
      >
        <a routerLink=""><h5>Home</h5></a>
      </h4>
    </div>
  </nav>
</div>
